flows.json
[{"id":"be808763.63f6f8","type":"tab","label":"Projeto","disabled":false,"info":""},{"id":"6f7554b7.c0939c","type":"mqtt in","z":"be808763.63f6f8","name":"","topic":"conexao","qos":"2","datatype":"auto","broker":"ced55c06.4a5e1","x":100,"y":60,"wires":[["29acdcf7.c97b44","748457c2.c47298"]]},{"id":"3da03538.3d3f1a","type":"mqtt out","z":"be808763.63f6f8","name":"","topic":"broker","qos":"","retain":"","broker":"ced55c06.4a5e1","x":590,"y":60,"wires":[]},{"id":"29acdcf7.c97b44","type":"debug","z":"be808763.63f6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":120,"wires":[]},{"id":"dec20c65.c9587","type":"mqtt in","z":"be808763.63f6f8","name":"","topic":"statusAlavanca","qos":"2","datatype":"auto","broker":"ced55c06.4a5e1","x":120,"y":120,"wires":[["29acdcf7.c97b44"]]},{"id":"748457c2.c47298","type":"trigger","z":"be808763.63f6f8","op1":"conectado","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":360,"y":60,"wires":[["3da03538.3d3f1a"]]},{"id":"d5321ef4.142f9","type":"mqtt in","z":"be808763.63f6f8","name":"","topic":"pesoPote","qos":"2","datatype":"auto","broker":"ced55c06.4a5e1","x":100,"y":180,"wires":[["29acdcf7.c97b44","7ea554a4.69ac8c"]]},{"id":"7ea554a4.69ac8c","type":"ui_chart","z":"be808763.63f6f8","name":"","group":"f2a26835.2ed8c8","order":0,"width":0,"height":0,"label":"Quantidade de Ração (gramas)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":180,"wires":[[]]},{"id":"ced55c06.4a5e1","type":"mqtt-broker","z":"","name":"Broker","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f2a26835.2ed8c8","type":"ui_group","z":"","name":"Discrete","tab":"fb6c193b.a4a2a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fb6c193b.a4a2a8","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","disabled":false,"hidden":false}]